apiVersion: secrets-store.csi.x-k8s.io/v1
kind: SecretProviderClass
metadata:
  name: postgres-aws-secret
  namespace: database
spec:
  provider: aws
  parameters:
    region: ap-south-1
    objects: |
      - objectName: "eks/postgres/db02"
        objectType: "secretsmanager"
        objectVersionLabel: "AWSCURRENT"
        jmesPath:
          - path: POSTGRES_USER
            objectAlias: POSTGRES_USER
          - path: POSTGRES_PASSWORD
            objectAlias: POSTGRES_PASSWORD
          - path: POSTGRES_DB
            objectAlias: POSTGRES_DB
  secretObjects:
  - secretName: postgres-k8s-secret
    type: Opaque
    data:
    - objectName: POSTGRES_USER
      key: POSTGRES_USER
    - objectName: POSTGRES_PASSWORD
      key: POSTGRES_PASSWORD
    - objectName: POSTGRES_DB
      key: POSTGRES_DB
